<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add Hero</title>
    </head>
    <body>
        <a href='hero_index'>Home</a>
        <h1>Add New Hero</h1>
        <form action='/create_hero' method="POST">
			{% csrf_token %}
			Name: <input type="text" name="name">
            Power: 
            <select name="hero_powers">
                {% for power in powers %}
                    <option value="{{ power.id }}">{{ power.name }}</option>
                {% endfor %}
            </select>
			<input type="submit" name="submit" value="Submit">
		</form>
    </body>
</html>